@import-normalize;

:root {
  --border-color: #dfdfdf;
  --font-color: #868686;
  --shadow-color: #91919161;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul,
p {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.feedbackForm {
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  background-color: rgb(173, 173, 243);
  border-radius: 8px;
}
